[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: dfn_zotero
name: Zotero Literaturverwaltung
description: Zotero is a free, easy-to-use tool to help you collect, organize, cite, and share your research sources.
advice: 
version: 5.0.60
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: bool
name: desktopicon
description: Sets an icon on the desktop.
default: False

[ProductProperty]
type: unicode
name: minimumspace
multivalue: False
editable: True
description: required hdd space for installation
values: ["200 MB"]
default: ["200 MB"]

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[Changelog]
dfn_zotero (5.0.60-1) stable; urgency=low

 * minor update, only .exe changed

 -- Detlef Krummel <krummel@gei.de>  10.1.2019

dfn_zotero (5.0.59-1) stable; urgency=low
 * minor update, only .exe changed
 -- Detlef Krummel <krummel@gei.de>  19.12.2018
dfn_zotero (5.0.58-1) stable; urgency=low
 * minor update, only .exe changed
 -- Detlef Krummel <krummel@gei.de>  12.11.2018
dfn_zotero (5.0.57-1) stable; urgency=low
 * minor update, only .exe changed
 -- Detlef Krummel <krummel@gei.de>  25.10.2018
dfn_zotero (5.0.56-1) stable; urgency=low
 * new o4i.png  9/2018
 * minor update, only .exe changed
 -- Detlef Krummel <krummel@gei.de>  10.10.2018
dfn_zotero (5.0.55-1) stable; urgency=low
 * minor update, only .exe changed
 -- Detlef Krummel <krummel@gei.de>  16.08.2018
dfn_zotero (5.0.54-1) stable; urgency=low
 * minor update, only .exe changed
 -- Detlef Krummel <krummel@gei.de>  24.07.2018
dfn_zotero (5.0.53-1) stable; urgency=low
 * minor update, only .exe changed
 -- Detlef Krummel <krummel@gei.de>  09.07.2018
dfn_zotero (5.0.52-1) stable; urgency=low
 * minor update, only .exe changed
 -- Detlef Krummel <krummel@gei.de>  21.06.2018
dfn_zotero (5.0.51-1) stable; urgency=low
 * minor update, only .exe changed
 -- Detlef Krummel <krummel@gei.de>  18.06.2018
dfn_zotero (5.0.50-1) stable; urgency=low
 * minor update, only .exe changed
 * showbitmap mit Version nur bei local logo
 * Problem De-Installion: IMMER noch vorhanden
 -- Detlef Krummel <krummel@gei.de>  15.06.2018
dfn_zotero (5.0.49-1) stable; urgency=low
 * minor update, only .exe changed
 * Problem De-Installion: IMMER noch vorhanden
 -- Detlef Krummel <krummel@gei.de>  13.05.2018
dfn_zotero (5.0.48-1) stable; urgency=low
 * minor update, only .exe changed
 * Problem De-Installion: IMMER noch vorhanden
 -- Detlef Krummel <krummel@gei.de>  02.05.2018
dfn_zotero (5.0.46-1) stable; urgency=low
 * minor update, only .exe changed
 * Problem De-Installion: IMMER noch vorhanden
 -- Detlef Krummel <krummel@gei.de>  02.05.2018
dfn_zotero (5.0.45-1) stable; urgency=low
 * minor update, only .exe changed
 * Problem De-Installion: IMMER noch vorhanden
 -- Detlef Krummel <krummel@gei.de>  17.04.2018
dfn_zotero (5.0.44-1) stable; urgency=low
 * minor update, only .exe changed
 * Problem De-Installion: IMMER noch vorhanden
 -- Detlef Krummel <krummel@gei.de>  07.04.2018
dfn_zotero (5.0.43-1) stable; urgency=low
 * minor update, only .exe changed
 * Problem De-Installion: IMMER noch vorhanden
 -- Detlef Krummel <krummel@gei.de>  04.04.2018
dfn_zotero (5.0.41-1) stable; urgency=low
 * minor update, only .exe changed
 * Problem De-Installion: IMMER noch vorhanden
 -- Detlef Krummel <krummel@gei.de>  28.03.2018
dfn_zotero (5.0.38-1) stable; urgency=low
 * minor update, only .exe changed
 * Problem De-Installion: IMMER noch vorhanden
 -- Detlef Krummel <krummel@gei.de>  23.03.2018
dfn_zotero (5.0.37-1) stable; urgency=low
 * minor update, only .exe changed
 * Problem De-Installion: IMMER noch vorhanden
 -- Detlef Krummel <krummel@gei.de>  10.03.2018
dfn_zotero (5.0.36-1) stable; urgency=low
 * minor update, only .exe changed
 * Problem De-Installion: IMMER noch vorhanden
 -- Detlef Krummel <krummel@gei.de>  10.03.2018
dfn_zotero (5.0.35.1-1) stable; urgency=low
 * minor update, only .exe changed
 * Problem De-Installion: IMMER noch vorhanden
 -- Detlef Krummel <krummel@gei.de>  12.02.2018
dfn_zotero (5.0.35-1) stable; urgency=low
 * minor update, only .exe changed
 * Problem De-Installion: IMMER noch vorhanden
 -- Detlef Krummel <krummel@gei.de>  12.02.2018
dfn_zotero (5.0.34.5-1) stable; urgency=low
 * minor update, only .exe changed
 * Problem De-Installion: IMMER noch vorhanden
 -- Detlef Krummel <krummel@gei.de>  05.02.2018
dfn_zotero (5.0.34-1) stable; urgency=low
 * minor update, only .exe changed
 * Problem De-Installion: IMMER noch vorhanden
 -- Detlef Krummel <krummel@gei.de>  12.01.2018
dfn_zotero (5.0.32-1) stable; urgency=low
 * minor update, only .exe changed
 * Problem De-Installion:                  (wird beendet, SW ist NICHT  deinstalliert!
 * [6] [Dez 18 09:15:58:176] [dfn_zotero]       Call ""C:\Program Files(x86)\Zotero\uninstall\helper.exe" /S"
 * [6] [Dez 18 09:15:58:176] [dfn_zotero]          Timeout 10 seconds
 * [6] [Dez 18 09:15:58:176] [dfn_zotero]          Waiting until process "Au_.exe" started and has ended
 * [6] [Dez 18 09:15:58:176] [dfn_zotero]       Start process as invoker: SYSTEM
 * [6] [Dez 18 09:15:58:194] [dfn_zotero]       Waiting for start of "Au_.exe"
 * [7] [Dez 18 09:15:59:199] [dfn_zotero]       Waiting for ending at 18.12.2017 09:15:59 exitcode is: 0
 * [7] [Dez 18 09:16:00:203] [dfn_zotero]       Waiting for ending at 18.12.2017 09:16:00 exitcode is: 0
 * [7] [Dez 18 09:16:01:207] [dfn_zotero]       Waiting for ending at 18.12.2017 09:16:01 exitcode is: 0
 * [7] [Dez 18 09:16:02:213] [dfn_zotero]       Waiting for ending at 18.12.2017 09:16:02 exitcode is: 0
 * [7] [Dez 18 09:16:03:219] [dfn_zotero]       Waiting for ending at 18.12.2017 09:16:03 exitcode is: 0
 * [7] [Dez 18 09:16:04:222] [dfn_zotero]       Waiting for ending at 18.12.2017 09:16:04 exitcode is: 0
 * [7] [Dez 18 09:16:05:224] [dfn_zotero]       Waiting for ending at 18.12.2017 09:16:05 exitcode is: 0
 * [7] [Dez 18 09:16:06:227] [dfn_zotero]       Waiting for ending at 18.12.2017 09:16:06 exitcode is: 0
 * [7] [Dez 18 09:16:07:230] [dfn_zotero]       Waiting for ending at 18.12.2017 09:16:07 exitcode is: 0
 * [7] [Dez 18 09:16:08:233] [dfn_zotero]       Waiting for ending at 18.12.2017 09:16:08 exitcode is: 0
 * [6] [Dez 18 09:16:08:235] [dfn_zotero]       Waiting for "Au_.exe" stopped -time out 10 sec
 * [6] [Dez 18 09:16:08:235] [dfn_zotero]       ExitCode 0    Executed process ""C:\Program Files (x86)\Zotero\uninstall\helper.exe" /S"
 -- Detlef Krummel <krummel@gei.de>  18.12.2017
dfn_zotero (5.0.30-1) stable; urgency=low
 * minor update, exe changend
 -- Detlef Krummel <krummel@gei.de>  04.12.2017
dfn_zotero (5.0.29-1) stable; urgency=low
 * minor update, exe changend
 * undefine+delete $found$: delsub.opsiscript
 -- Detlef Krummel <krummel@gei.de>  30.11.2017
dfn_zotero (5.0.28-1) stable; urgency=low
Update auf 5.0.28, exe gestauscht.
 -- Eric Esser <eric.esser@wzb.eu>  Wed, 22 Nov 2017 15:21:32 +0000
dfn_zotero (5.0.27-2) stable; urgency=low
Uninstaller gefixed.
 -- Eric Esser <eric.esser@wzb.eu>  Tue, 21 Nov 2017 14:00:48 +0000
dfn_zotero (5.0.27-1) stable; urgency=low
 * minor update
 -- Detlef Krummel <krummel@gei.de>  20.11.2017
dfn_zotero (5.0.25-1) stable; urgency=low
 * minor update
 -- Detlef Krummel <krummel@gei.de>  13.11.2017
dfn_zotero (5.0.24-1) stable; urgency=low
 * Update auf 5.0.24, Exe getauscht
 * Icon-Switch eingebaut
 * custom-Verzeichnis eingebaut
 * Desktop-Link Property eingebaut
 -- Eric Esser <eric.esser@wzb.eu>  Wed, 08 Nov 2017 13:11:01 +0000
